<%- include('../header') %>
<%- include('user-navbar') %>



<div class="change-password">
  <h2>Change Password</h2>

  <span class="arrow-down">&#x2193;</span>
  
  <form action="/user/change-password" class="contact-form" style="max-width: 800px; margin: 30px auto;" method="post">

   
    <div class="contact-form-group">
      <label for="pass1" class="form-label">Current Password</label>
      <input type="password" id="pass1" name="currpass" class="form-input" required />
    </div>

    <div class="contact-form-group">
      <label for="pass2" class="form-label">New Password</label>
      <input type="password" id="pass2" name="newpass" class="form-input" required />
    </div>

    <div class="contact-form-group">
      <label for="pass3" class="form-label">Confirm Password</label>
      <input type="password" id="pass3" name="confirmpass" class="form-input" required />
    </div>

    <div class="form-full-width btn-group-right">
      <button type="submit" class="small-btn update-btn">Change</button>
    </div>\
    <% if (locals.message) { %>
      <p class="login-message"><%= message %></p>
    <% } %>
  </form>
   
</div>

<%- include('../footer') %>
<%- include('../footer-links') %>
